<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="sessionFactory">
        <property name="show_sql">true</property>
        
        <mapping resource="com/cooksys/facebookapp/models/User.hbm.xml" />
        <mapping resource="com/cooksys/facebookapp/models/Tweet.hbm.xml" />
        <mapping resource="com/cooksys/facebookapp/models/Subscribe.hbm.xml" />
    </session-factory>
</hibernate-configuration>
